$ShadowColor: #BDBBCE;
$HighlightColor: #635D98;
$MainTextColor: #928DC0;
$DefaultBackupFont: sans-serif;
body{
  background-color: #DED9D9;
  overflow: scroll;
  padding : 20px;
}
%StandardHeading{
  font-family: Impact, $DefaultBackupFont;
  text-align: center;
  color: $MainTextColor;
  text-shadow: -1px 0 $ShadowColor, 0 1px $ShadowColor, 1px 0 $ShadowColor, 0 -1px $ShadowColor;
}
#MainHeading{
  @extend %StandardHeading;
  font-size: 2.9282576866764276vw;
}
#SubHeading{
  @extend %StandardHeading;
  font-size: 2.1961932650073206vw;
}
%StandardText{
  font-size: 1.4641288433382138vw;
}
%StandardImage{
  margin : 20px;
  height: auto;
  width: 25%;
  border: 3px solid $ShadowColor;
}
p{
  width: 75%;
  @extend %StandardText;
}
#ToBold{
  font-weight: bold;
  color: $HighlightColor;
}
.Question{
  font-weight: bold;
  font-family: Lucida, $DefaultBackupFont;
  color: black;
}
%LinkerBase{
  margin: 20px;
  font-weight: bold;
  font-size: 1.3177159590043923vw;
  font-family: Lucida, $DefaultBackupFont;
  width: 75%;
}
#LinkerPara1{
  @extend %LinkerBase;
  color: $MainTextColor;
  font-size: 1.4641288433382138vw;
  padding-bottom: 130px;
}
#LinkerPara2{
  @extend %LinkerBase;
  color: $MainTextColor;
  font-size: 1.4641288433382138vw;
  padding-bottom: 15px;
}
.LinkerHeading{
  @extend %LinkerBase;
  color: black;
  font-size: 1.8301610541727673vw;
}
.Linker::before{
  font-size: 1.3177159590043923vw;
  content: ">";
  @extend %LinkerBase;
}
#Linker1{
  font-size: 1.3177159590043923vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32.94289897510981vw;
  border: 2px $MainTextColor outset;
}
#Linker2{
  font-size: 1.3177159590043923vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32.94289897510981vw;
  border: 2px $MainTextColor outset;
  text-align: center;
}
.Answer{
  color: $MainTextColor;
  font-family: Comic, $DefaultBackupFont;
}
.grid{
  float: center;
  @extend %StandardText;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto 24% auto auto auto;
  padding: 5px;
  color: $MainTextColor;
  text-align: center;
  border: 2px $MainTextColor outset;
}
a{
  color: $MainTextColor;
}
a:hover{
    color: $HighlightColor;
    text-decoration: none;
  }
  .ShowcaseImageRight{
    @extend %StandardImage;
  float: right;
}
.ShowcaseImageLeft{
  @extend %StandardImage;
  float : left;
}
